[Unit]
Description=Backend Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/sh ROOT_DIR/backend/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
