[Unit]
Description=Backend Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python ROOT_DIR/backend/server.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
